.store__button, .hero__content, .header__container, .delivery__circle, .blog__button, .about__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store__button, .hero__svg, .header__svg, .header__link, .footer__sn-svg, .footer__link, .footer__time, .footer__adress, .blog__button {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  18% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-family: "Montserrat";
  color: #000;
  scroll-behavior: smooth;
}

h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.container {
  width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.line__box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.line__line {
  background-color: #000;
  width: 2000px;
  height: 1.5px;
}
.line__list-line {
  background-color: #000;
  width: 340px;
  height: 1.5px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/*about*/
.about__container {
  margin-top: 190px;
  margin-bottom: 100px;
}
.about__content {
  gap: 90px;
  margin-top: 26px;
}
.about__text {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  max-width: 510px;
}
.about__img {
  width: 632px;
  height: 344px;
}

/*blog*/
.blog__container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.blog__list {
  margin-top: 122px;
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.blog__img {
  width: 390px;
  height: 421px;
}
.blog__text {
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 48px;
  text-align: center;
}
.blog__button {
  width: 280px;
  height: 64px;
  padding: 16px 32px;
  border-radius: 38px;
  background-color: #E86F54;
  border: none;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 85.714%;
  margin: 0 auto;
  transition-property: background, box-shadow;
  animation-name: button-animation;
  animation-iteration-count: infinite;
  animation-duration: 5000ms;
}
.blog__button:hover, .blog__button:focus {
  background: #FA6F54;
  box-shadow: 0px 4px 16px 0px rgba(250, 111, 84, 0.2);
}

/*delivery*/
.delivery__container {
  padding-bottom: 60px;
}
.delivery__list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.delivery__text {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.delivery__item {
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  margin: 0 72px;
  display: flex;
  gap: 56px;
  align-items: center;
}
.delivery__circle {
  width: 64px;
  height: 64px;
  font-size: 26px;
  border: 0.5px solid #000;
  border-radius: 100%;
  flex-shrink: 0;
}
.delivery__backgroung {
  background: url(../../images/delivery-img.png) no-repeat;
  background-size: cover;
  height: 391px;
}

/*footer*/
.footer {
  background-color: #000;
  font-family: "Inter";
  padding: 72px 0;
}
.footer__container {
  display: flex;
}
.footer__logo {
  margin-right: 210px;
  width: 72px;
  height: 57px;
  fill: #FFF;
}
.footer__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__time {
  max-width: 97px;
}
.footer__adress {
  max-width: 147px;
}
.footer__link, .footer__time, .footer__adress {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition-property: color;
}
.footer__link:hover, .footer__link:focus {
  color: #FA6F54;
}
.footer__time-container {
  margin: 0 96px;
}
.footer__contacts-container {
  margin-right: auto;
}
.footer__sn {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__sn-svg {
  width: 28px;
  height: 28px;
  stroke: #FFF;
  transition-property: stroke;
}
.footer__sn-link:hover .footer__sn-svg, .footer__sn-link:focus .footer__sn-svg {
  stroke: #FA6F54;
}

/*header*/
.header__container {
  margin-top: 28px;
  margin-bottom: 64px;
  justify-content: space-between;
}
.header__logo {
  width: 72px;
  height: 57px;
}
.header__list {
  display: flex;
  gap: 48px;
}
.header__link {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  transition-property: color;
}
.header__link:hover {
  color: #FA6F54;
}
.header__svg {
  width: 28px;
  height: 28px;
  transition-property: fill;
}
.header__tel:hover .header__svg, .header__tel:focus .header__svg {
  fill: #FA6F54;
}

/*hero*/
.hero__container {
  position: relative;
}
.hero__content {
  gap: 110px;
}
.hero__text {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  max-width: 101px;
}
.hero__img {
  max-width: 390px;
  max-height: 636px;
}
.hero__svg {
  width: 166px;
  height: 166px;
  transition-property: fill;
}
.hero__link:hover .hero__svg, .hero__link:active .hero__svg {
  fill: #FA6F54;
}
.hero__title {
  font-size: 160px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 530px;
  left: 177.5px;
}

/*store*/
.store__container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.store__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
  margin-top: 80px;
}
.store__item {
  width: 600px;
}
.store__img {
  max-width: 600px;
  max-height: 542px;
  margin-bottom: 16px;
}
.store__name {
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.store__price {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  margin-top: 4px;
  opacity: 0.6000000238;
}
.store__button {
  width: 280px;
  height: 64px;
  padding: 16px 32px;
  border-radius: 38px;
  background-color: #E86F54;
  border: none;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 85.714%;
  margin-top: 60px;
  align-self: center;
  transition-property: background, box-shadow;
  animation-name: button-animation;
  animation-iteration-count: infinite;
  animation-duration: 5000ms;
}
.store__button:hover, .store__button:focus {
  background: #FA6F54;
  box-shadow: 0px 4px 16px 0px rgba(250, 111, 84, 0.2);
}/*# sourceMappingURL=main.css.map */