/*about*/
.about{
    &__container{
        margin-top: 190px;
        margin-bottom: 100px;
    }
    &__content{
        @extend %flex;
        gap: 90px;
    
        margin-top: 26px;
    }
    &__text{
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
    
        max-width: 510px;
    }
    &__img{
        width: 632px;
        height: 344px;
    }
}