/*blog*/
.blog{
    &__container{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    &__list{
        margin-top: 122px;
        margin-bottom: 44px;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
    &__img{
        width: 390px;
        height: 421px;
    }
    &__text{
        font-size: 32px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 48px;
        text-align: center;
    }
    &__button{
        @extend %flex;
        width: 280px;
        height: 64px;
        padding: 16px 32px;
    
        border-radius: 38px;
        background-color: $button-color;
        border: none;
        color: #FFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 85.714%;
        margin: 0 auto;

        transition-property: background, box-shadow;
        @extend %transition;

        @include button-animation();
    }
    &__button:hover, &__button:focus{
        background: $main-color;
        box-shadow: 0px 4px 16px 0px rgba(250, 111, 84, 0.20);
    }
}