/*footer*/
.footer{
    background-color: #000;
    font-family: 'Inter';
    padding: 72px 0;

    &__container{
        display: flex;
    }
    &__logo{
        margin-right: 210px;
    }
    &__title{
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 18px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__time{
        max-width: 97px;
    }
    &__adress{
        max-width: 147px;
    }
    &__link, &__time, &__adress{
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }
    &__time-container{
        margin: 0 96px;
    }
    &__contacts-container{
        margin-right: auto;
    }
    &__sn{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}
