/*footer*/
.footer{
    background-color: #000;
    font-family: 'Inter';
    padding: 72px 0;

    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: 44px;
        // justify-content: center;
        @media screen and (min-width: 768px) {
            flex-wrap: nowrap;
        }

    }
    &__logo{
        margin-right: 210px;
        width: 72px;
        height: 57px;
        fill: $text-footer;

        display: none;
        @media screen and (min-width: 1200px) {
            display: block;
        }
    }
    &__title{
        color: $text-footer;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 18px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__time{
        max-width: 97px;
    }
    &__adress{
        max-width: 147px;
    }
    &__link, &__time, &__adress{
        color: $text-footer;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;

        transition-property: color;
        @extend %transition;
    }
    &__link:hover, &__link:focus{
        color: $main-color;
    }
    // &__nav-container{
    //     margin-bottom: 32px;
    // }
    &__contacts-container{
        margin-right: 32px;
        @media screen and (min-width: 768px) {
            margin-right: auto;
        }

    }
    &__sn{
        display: flex;
        gap: 18px;

        @media screen and (min-width: 768px) {
            flex-direction: column;
        }
    }
    &__sn-svg{
        width: 28px;
        height: 28px;
        stroke: $text-footer;

        @extend %transition;
        transition-property: stroke;
    }
    &__sn-link:hover &__sn-svg, &__sn-link:focus &__sn-svg{
        stroke: $main-color;
    }
}
