/*header*/
.header{
    &__container{
        margin-top: 28px;
        margin-bottom: 64px;
    
        @extend %flex;
        justify-content: space-between;
    }
    &__logo{
        width: 72px;
        height: 57px;
    }
    &__list{
        display: flex;
        gap: 48px;
    }
    &__link{
        font-size: 20px;
        font-weight: 400;
        line-height: normal;

        transition-property: color;
        @extend %transition;
    }
    &__link:hover{
        color: #FA6F54;
    }
    &__svg{
        width: 28px;
        height: 28px;
        transition-property: fill;
        @extend %transition;
    }
    &__tel:hover &__svg, &__tel:focus &__svg{
        fill: #FA6F54;
    }
}