/*header*/
.header{
    &__container{
        margin-top: 28px;
        margin-bottom: 64px;
    
        @extend %flex;
        
        @media screen and (min-width: 768px){
            justify-content: space-between;
        }
        
    }
    &__logo{
        width: 45px;
        height: 35px;
        margin-right: auto;

        @media screen and (min-width: 768px){
            width: 72px;
            height: 57px;
        }
    }
    &__list{
        display: none;

        @media screen and (min-width: 768px){
            display: flex;
            gap: 38px;
        }
        @media screen and (min-width: 1200px){
            gap: 48px;
        }

    }
    &__link{
        font-size: 20px;
        font-weight: 400;
        line-height: normal;

        transition-property: color;
        @extend %transition;
    }
    &__link:hover, &__link:focus{
        color: $main-color;
    }
    &__svg{
        width: 20px;
        height: 20px;
        transition-property: fill;
        @extend %transition;

        @media screen and (min-width: 768px) {
            width: 28px;
            height: 28px;
        }
    }
    &__tel:hover &__svg, &__tel:focus &__svg{
        fill: $main-color;
    }
    &__menu{
        margin-left: 15px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}