/*hero*/
.hero{
    &__container{
        position: relative;
    }
    &__content{
        @extend %flex;
        gap: 20px;
        @media screen and (min-width: 768px) {
            gap: 50px;
        }
        @media screen and (min-width: 1200px) {
            gap: 110px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: normal;
        max-width: 46px;
    
        @media screen and (min-width: 768px) {
            font-size: 24px;
            max-width: 76px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 32px;
            max-width: 101px;
        }
    }
    &__img{
        width: 145px;
        height: 274px;
        @media screen and (min-width: 768px) {
            width: 390px;
            height: 636px;
        }
    }
    &__svg{
        transition-property: fill;
        @extend %transition;
        width: 76px;
        height: 76px;
        @media screen and (min-width: 768px) {
            width: 145px;
            height: 145px;
        }
        @media screen and (min-width: 1200px) {
            width: 166px;
            height: 166px;
        }
    }
    &__link{
        width: 76px;
        height: 76px;
        @media screen and (min-width: 768px) {
            width: 145px;
            height: 145px;
        }
        @media screen and (min-width: 1200px) {
            width: 166px;
            height: 166px;
        }
    }
    &__link:hover &__svg, &__link:focus &__svg{
        fill: $main-color;
    }
    &__title{
        line-height: normal;
        font-weight: 400;
        font-size: 52px;

        position: absolute;
        top: 80%;
        left: calc((100% - 288px)/2);

        @media screen and (min-width: 768px) {
            font-size: 120px;
            left: calc((100% - 658px)/2);
        }
        @media screen and (min-width: 1200px) {
            font-size: 160px;
            left: calc((100% - 876px)/2);
        }
    }
}