/*hero*/
.anemone-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}
.hero-text{
    font-size: 32px;
    font-weight: 400;
    line-height: normal;

    max-width: 101px;
}
.hero-img{
    max-width: 390px;
    max-height: 636px;
}
.hero-link-img{
    max-width: 166px;
    max-height: 166px;
}
.hero-title{
    text-align: center;
    font-size: 160px;
    font-weight: 400;
    line-height: normal;
}