/*hero*/
.hero{
    &__container{
        position: relative;
    }
    &__content{
        @extend %flex;
        gap: 110px;
    }
    &__text{
        font-size: 32px;
        font-weight: 400;
        line-height: normal;
    
        max-width: 101px;
    }
    &__img{
        max-width: 390px;
        max-height: 636px;
    }
    &__svg{
        width: 166px;
        height: 166px;
        transition-property: fill;
        @extend %transition;
    }
    &__link:hover &__svg, &__link:focus &__svg{
        fill: $main-color;
    }
    &__title{
        font-size: 160px;
        font-weight: 400;
        line-height: normal;

        position: absolute;
        top: 530px;
        left: 177.5px;
    }
}