/*store*/
.store{
    &__container{
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 18px 16px;
        margin-top: 80px;
        @media screen and (min-width: 768px) {
            gap: 42px 32px;
        }
        @media screen and (min-width: 1200px) {
            gap: 64px 32px;
        }
    }
    &__item{
        max-width: 600px;
        width: calc((100% - 46px)/2);
        @media screen and (min-width: 768px) {
            width: calc((100% - 62px)/2);
        }
    }
    &__img{
        max-width: 600px;
        max-height: 542px;
        margin-bottom: 16px;
        width: calc(100%);
        @media screen and (min-width: 768px) {
            width: calc(100%);
        }
    }
    &__name{
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        white-space: nowrap;
        @media screen and (min-width: 768px) {
           font-size: 32px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
    }
    &__price{
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        margin-top: 4px;
    
        opacity: 0.6000000238418579;

        @media screen and (min-width: 768px) {
            font-size: 24px;
         }
         @media screen and (min-width: 1200px) {
             font-size: 28px;
         }
    }
    &__button{
        @extend %flex;
        width: 200px;
        height: 64px;
        padding: 16px 32px;
    
        border-radius: 38px;
        background-color: $button-color;
        border: none;
        color: $text-footer;
        font-size: 18px;
        font-weight: 500;
        line-height: 85.714%;
    
        margin-top: 60px;
        align-self: center;

        transition-property: background, box-shadow;
        @extend %transition;

        @include button-animation;

        @media screen and (min-width: 768px) {
            width: 280px;
            font-size: 28px;
        }
    }
    &__button:hover, &__button:focus{
        background: $main-color;
        box-shadow: 0px 4px 16px 0px rgba(250, 111, 84, 0.20);
    }
}