/*store*/
.store{
    &__container{
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 64px 32px;
        margin-top: 80px;
    }
    &__item{
        width:  600px;
    }
    &__img{
        max-width: 600px;
        max-height: 542px;
        margin-bottom: 16px;
    }
    &__name{
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        white-space: nowrap;
    }
    &__price{
        font-size: 28px;
        font-weight: 600;
        line-height: normal;
        margin-top: 4px;
    
        opacity: 0.6000000238418579;
    }
    &__button{
        @extend %flex;
        width: 280px;
        height: 64px;
        padding: 16px 32px;
    
        border-radius: 38px;
        background-color: $button-color;
        border: none;
        color: $text-footer;
        font-size: 28px;
        font-weight: 500;
        line-height: 85.714%;
    
        margin-top: 60px;
        align-self: center;

        transition-property: background, box-shadow;
        @extend %transition;

        @include button-animation;
    }
    &__button:hover, &__button:focus{
        background: $main-color;
        box-shadow: 0px 4px 16px 0px rgba(250, 111, 84, 0.20);
    }
}