body{
    font-family: 'Montserrat';
    color: $text-color;

    scroll-behavior: smooth;
}
h2{
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.container{
    outline: 1px solid red;
    max-width: 1262px;
    width: auto;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}