body{
    font-family: 'Montserrat';
    color: #000;

    scroll-behavior: smooth;
}
h2{
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.container{
    width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: dashed red; */
}