.line{
    &__box{
        display: flex;
        align-items: center; 
        gap: 16px;
    }
    &__line{
        background-color: $text-color;
        width: 2000px;
        height: 1.5px;
    }
    &__list-line{
        background-color: $text-color;
        width: 340px;
        height: 1.5px;
    }
    &__title{
        font-size: 24px;
        @media screen and (min-width: 768px){
            font-size: 44px;
        }
    }
}